

<ul class="list-group">
    {% for comment in comments %}
        {% for item in info %}
            {% if item.0 == comment.id %}
                <li class="list-group-item">
                    <p><a href="{% url 'userProfile' username=comment.commentor.username %}" style="text-decoration:none;"><span style="color: blue;">{{ comment.commentor.username }}</span></a>   ·  {{comment.resta}}</p>
                    {% if comment.editing %}
                        <form method="POST" action="{% url 'editComment' commentId=comment.id %}">
                            {% csrf_token %}
                            <textarea class="form-control" name="content">{{ comment.content }}</textarea>
                            <br>
                            <div class="col">
                                <input type="submit" class="btn btn-success mr-2" value="Guardar">
                                <button class="btn btn-success"><a style="text-decoration:none;color:white" href="{% url 'cancelEdit' commentId=comment.id %}">Cancelar</a></button>
                            </div>
                        </form>
                    {% else %} 
                        <p>{{ comment.content }}</p>
                    {% endif %}
                    {% if comment.editing == False %}
                        <div class="row">
                            <div class="col-auto">
                                {% if item.1 == True and item.2 == 'positive' %}
                                    <a href="{% url 'voteComment' commentId=comment.id typeV='positive' %}" class="link"><i class="fa-solid fa-arrow-up" style="color: #e00b0b;"></i></a>
                                {% else  %}
                                    <a href="{% url 'voteComment' commentId=comment.id typeV='positive' %}" class="link"><i class="fa-solid fa-arrow-up"></i></a>
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                <p class="mr-2">
                                    {{comment.positive}}
                                </p>
                            </div>
                            <div class="col-auto">
                                {% if item.1 == True and item.2 == 'negative' %}
                                    <a href="{% url 'voteComment' commentId=comment.id typeV='negative' %}" class="link"><i class="fa-solid fa-arrow-down" style="color: #e00b0b;"></i></a>
                                {% else  %}
                                    <a href="{% url 'voteComment' commentId=comment.id typeV='negative' %}" class="link"><i class="fa-solid fa-arrow-down"></i></a>
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                <p class="mr-2">
                                    {{comment.negative}}
                                </p>
                            </div>
                            <div class="col-auto mr-2">
                                {% if item.3 == True %}
                                    <a href="{% url 'likeComment' commentId=comment.id %}" class="link"><i class="far fa-star" style="color: #eef202;"></i></a>
                                {% else %}
                                    <a href="{% url 'likeComment' commentId=comment.id %}" class="link"><i class="far fa-star"></i></a>
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal_{{comment.id}}">
                                    <i class="fa-solid fa-reply"></i>
                                </button>
                            </div>
                            {% if request.user == comment.commentor %}
                                <div class="dropdown col-auto">
                                    <button class="btn btn-light dropdown-toggle p-0 text-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        &#8942; <!-- Icono de tres puntos verticales en negro -->
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="{% url 'editComment' commentId=comment.id %}"><i class="fa-regular fa-pen-to-square"></i>Editar</a></li>
                                        <li><a class="dropdown-item" href="{% url 'deleteComment' commentId=comment.id %}"><i class="fa-solid fa-trash-can"></i>Eliminar</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="modal fade" id="exampleModal_{{comment.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Reply</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    <form action="{% url 'replyComment' commentId=comment.id %}" method="POST">
                                        {% csrf_token %}
                                            <textarea style="border-radius: 10px;" name="reply_comment" cols="50" rows="6"></textarea>
                                            <br>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-success">Responder</button>
                                            </div>  
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                        
                    {% with comment.replies.all as newcomments %}
                        {% if newcomments %}
                            <ul class="list-group">
                            {% include "app/comment_template.html" with comments=newcomments info=info %}
                            </ul>
                        {% endif %}
                    {% endwith %}
                </li>
                {% endif %}
        {% endfor %}
    {% endfor %}
</ul>


  