{% extends "app/layout.html" %}
{% load static %}
{% block head %}
    <link href="{% static 'app/main.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="form-box">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 mb-4">
                <h1 class="title-form">Crear publicación</h1>
                <form action="{% url 'createPost' %}" method="POST">
                    {% csrf_token %}
                    <label class="col-sm-2 col-form-label" for="post-url">URL</label>
                    <div class="col-sm-10">
                        <input class="form-control mb-3" type="url" id="post-url" name="url">
                    </div>

                    <label class="col-sm-2 col-form-label" for="post-title">Título</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control false" id="post-title" name="title" required="" rows="1" minlength="3" maxlength="200" style="overflow: hidden; overflow-wrap: break-word; resize: none; text-align: start; height: 36px;"></input>
                    </div>

                    <label class="col-sm-2 col-form-label">Descripción</label>
                    <div class="col-sm-10">
                        <textarea class="form-control " name="description-text" id="markdown-textarea-2eMSOam8PPXthWlvRX9I" required="" rows="2" maxlength="50000" style="overflow: hidden; overflow-wrap: break-word; resize: none; text-align: start; height: 191px; form-sizing:content" data-tribute="true"></textarea>
                    </div>

                    <label class="col-sm-2 col-form-label">Comunidad</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="select-comunity">
                            <option value="default">Select an option</option>
                            {% for c in options %}
                                <option value="{{c}}">{{c.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="col-sm-10">
                        <br>
                        <button type="submit" class="btn btn-success">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}