{% extends "app/layout.html" %}
{% load static %}
{% block head %}
    <link href="{% static 'app/main.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <style>
        .custom-margin {
            margin-left: 200px;
            margin-right: 200px;
        }
        h1 {
            font-size: 20px;
            margin-top: 10px; /* Increase the margin above the dropdown menu */
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        .margin-button {
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .align-right {
            background-color: white;
            border-color: black;
            color: black;
            float: right;
            margin-bottom: 20px;
        }

        .cb {
            background-color: white;
            border-color: black;
            color: black;
        }

    </style>
    <div class="custom-margin">
        <h1>Lista de Comunidades</h1>
        <div>
            <form method="post">
            {% csrf_token %}
            <div class="dropdown">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'listCommunity' %}?button=Subscrit" class="btn btn-secondary cb rareButton2">Subscrit</a>
                    <a href="{% url 'listCommunity' %}?button=Tot" class="btn btn-secondary cb rareButton2">Tot</a>
                </div>
                <button class="btn btn-secondary dropdown-toggle" style="background-color: white; color: black;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if not form.order.value %}
                        Nou
                    {% else %}
                        {% for choice in form.ORDER_CHOICES %}
                            {% if choice.1 == form.order.value %}
                                {{ choice.0 }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </button>
                <ul class="dropdown-menu">
                    {% for choice in form.ORDER_CHOICES %}
                        <button class="dropdown-item" style="background-color: white; color: black;" onclick="this.style.backgroundColor = 'white';" type="submit" name="order" value="{{ choice.1 }}">{{ choice.0 }}</button>
                    {% endfor %}
                </ul>
                <a href="{% url 'createCommunity' %}" class="btn btn-secondary align-right">Crear Comunitat</a>
            </div>
        </form>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Subscriptors</th>
                    <th>Publicacions</th>
                    <th>Comentaris</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for c in communities %}
                <tr>
                    <td><a href="{% url 'viewCommunity' community_name=c.0.name %}">{{c.0.name}}</a></td>
                    <td>{{c.0.subs}}</td>
                    <td>{{c.0.publi}}</td>
                    <td>{{c.0.comments}}</td>
                    {% if c.1 == False %}
                        <td><a href="{% url 'subscribeCommunity' community_name=c.0.name %}" class="btn btn-success">Subscriu-te</a></td>
                    {% else %}
                        <td><a href="{% url 'subscribeCommunity' community_name=c.0.name %}" class="btn btn-danger">Subscrit</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}