{% extends "app/layout.html" %}
{% load static %}
{% block body %}
    <style>
        .custom-margin {
            margin-left: 200px;
            margin-right: 200px;
        }
        .custom-margin2 {
            margin-top: 20px;

        }
        .filtre {
            margin-top: 20px;
        }
        .rareButton {
            color: black; /* Default text color */
            background-color: white; /* Default background color */

        }
        .rareButton2 {
            color: black; /* Default text color */
            background-color: white; /* Default background color */
        }
    </style>
    <div class="custom-margin filtre">
        <form method="post">
            {% csrf_token %}
            <div class="dropdown">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'index' %}?button2=Publicacions{% if form.order.value %}&order={{ form.order.value }}{% endif %}" class="btn btn-secondary rareButton2">Publicacions</a>
                    <a href="{% url 'index' %}?button2=Comments{% if form.order.value %}&order={{ form.order.value }}{% endif %}" class="btn btn-secondary rareButton2">Comentaris</a>
                </div>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'index' %}?button=Subscrit{% if form.order.value %}&order={{ form.order.value }}{% endif %}" class="btn btn-secondary rareButton">Subscrit</a>
                    <a href="{% url 'index' %}?button=Tot{% if form.order.value %}&order={{ form.order.value }}{% endif %}" class="btn btn-secondary rareButton">Tot</a>
                </div>
                <button class="btn btn-secondary dropdown-toggle" style="background-color: white; color: black;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if not form.order.value %}
                        Nou
                    {% else %}
                        {% for choice in form.ORDER_CHOICES %}
                            {% if choice.1 == form.order.value %}
                                {{ choice.0 }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </button>
                <ul class="dropdown-menu">
                    {% for choice in form.ORDER_CHOICES %}
                        <button class="dropdown-item" style="background-color: white; color: black;" onclick="this.style.backgroundColor = 'white';" type="submit" name="order" value="{{ choice.1 }}">{{ choice.0 }}</button>
                    {% endfor %}
                </ul>
            </div>
        </form>
        <div class="form-box">
            <img src="{{ request.user.avatar_url }}" alt="{{ user.username }}" class="user-avatar">
            <div class="row">
                {%  if p_c == True %}
                    {% for p in posts %}
                        <div class="col-12 col-lg-6 offset-lg-3 mb-4">
                            <p>
                                <a style="color:black; text-decoration:none;" href="{% url 'post' postId=p.0.id %}"> <h4><b>{{p.0.title}}</b></h4></a>
                            </p>
                            <a href="{% url 'userProfile' username=p.0.poster.username %}" style="text-decoration:none;"><span style="color:blue">{{ p.0.poster.username }}</span></a> a <a href="{% url 'viewCommunity' community_name=p.0.community.name %}" style="text-decoration:none"><span style="color:orange">{{ p.0.community.name }}</span></a>  • {{ p.0.created_at }}
                            <div class="row px-4">
                                <div class="col-auto mr-2">
                                    <a href="{% url 'post' postId=p.0.id %}#comments_section" class="link"><i class="far fa-comment"></i></a>
                                </div>
                                <div class="col-auto mr-2">
                                    <p>{{p.0.numComments}}</p>
                                </div>
                                <div class="col-auto mr-2">
                                    {% if p.1 == True and p.2 == 'positive' %}
                                        <a href="{% url 'voteInPosts' postId=p.0.id typeV='positive' %}" class="link"><i class="fa-solid fa-arrow-up" style="color: #e00b0b;"></i></a>
                                    {% else %}
                                        <a href="{% url 'voteInPosts' postId=p.0.id typeV='positive' %}" class="link"><i class="fa-solid fa-arrow-up"></i></a>
                                    {% endif %}
                                </div>
                                <div class="col-auto">
                                    <p class="mr-2">
                                        {{p.0.resta}}
                                    </p>
                                </div>
                                <div class="col-auto mr-2">
                                    {% if p.1 == True and p.2 == 'negative' %}
                                        <a href="{% url 'voteInPosts' postId=p.0.id typeV='negative' %}" class="link"><i class="fa-solid fa-arrow-down" style="color: #e00b0b;"></i></a>
                                    {% else %}
                                        <a href="{% url 'voteInPosts' postId=p.0.id typeV='negative' %}" class="link"><i class="fa-solid fa-arrow-down"></i></a>
                                    {% endif %}
                                </div>
                                <div class="col-auto mr-2">
                                    {% if p.3 == True %}
                                        <a href="{% url 'likeInPosts' postId=p.0.id %}" class="link"><i class="far fa-star" style="color: #eef202;"></i></a>
                                    {% else %}
                                        <a href="{% url 'likeInPosts' postId=p.0.id %}" class="link"><i class="far fa-star"></i></a>
                                    {% endif %}
                                </div>
                                {% if request.user == p.0.poster %}
                                    <div class="dropdown col-auto">
                                        <button class="btn btn-light dropdown-toggle p-0 text-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            &#8942; <!-- Icono de tres puntos verticales en negro -->
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <li><a class="dropdown-item" href="{% url 'edit' postId=p.0.id %}"><i class="fa-regular fa-pen-to-square"></i>Editar</a></li>
                                            <li><a class="dropdown-item" href="{% url 'delete' postId=p.0.id %}"><i class="fa-solid fa-trash-can"></i>Eliminar</a></li>
                                        </ul>
                                    </div>
                                {% endif %}
                            </div>
                                <hr class="my-3">
                        </div>
                    {% endfor %}
                {% else %}
                    <ul class="list-group comments custom-margin2">
                        {% for c in comments %}
                            <li class="list-group-item comment">
                                <p>
                                    <a href="{% url 'userProfile' username=c.0.commentor.username %}" style="text-decoration:none;"><span style="color: blue;">{{ c.0.commentor.username }}</span></a>
                                    ·  {{c.0.resta}}
                                    · <a style="color:orange;text-decoration: none;" href="{% url 'post' postId=c.0.post.id %}">{{ c.0.post.title }}</a>
                                </p>
                                {% if c.0.editing %}
                                    <form method="POST" action="{% url 'editComment' commentId=c.0.id %}">
                                            {% csrf_token %}
                                            <textarea class="form-control" name="content">{{ c.0.content }}</textarea>
                                            <br>
                                            <div class="col">
                                                <input type="submit" class="btn btn-success mr-2" value="Guardar">
                                                <button class="btn btn-success"><a style="text-decoration:none;color:white" href="{% url 'cancelEdit' commentId=c.0.id %}">Cancelar</a></button>
                                            </div>
                                        </form>
                                    {% else %}
                                        <p>{{ c.0.content }}</p>
                                    {% endif %}
                                    {% if c.0.editing == False %}
                                        <div class="row">
                                            <div class="col-auto">
                                                {% if c.1 and c.2 == 'positive' %}
                                                    <a href="{% url 'voteComment' commentId=c.0.id typeV='positive' %}" class="link"><i class="fa-solid fa-arrow-up" style="color: #e00b0b;"></i></a>
                                                {% else  %}
                                                    <a href="{% url 'voteComment' commentId=c.0.id typeV='positive' %}" class="link"><i class="fa-solid fa-arrow-up"></i></a>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto">
                                                <p class="mr-2">
                                                    {{c.0.positive}}
                                                </p>
                                            </div>
                                            <div class="col-auto">
                                                {% if c.1 and c.2 == 'negative' %}
                                                    <a href="{% url 'voteComment' commentId=c.0.id typeV='negative' %}" class="link"><i class="fa-solid fa-arrow-down" style="color: #e00b0b;"></i></a>
                                                {% else  %}
                                                    <a href="{% url 'voteComment' commentId=c.0.id typeV='negative' %}" class="link"><i class="fa-solid fa-arrow-down"></i></a>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto">
                                                <p class="mr-2">
                                                    {{c.0.negative}}
                                                </p>
                                            </div>
                                            <div class="col-auto mr-2">
                                                {% if c.3 == True %}
                                                    <a href="{% url 'likeComment' commentId=c.0.id %}" class="link"><i class="far fa-star" style="color: #eef202;"></i></a>
                                                {% else %}
                                                    <a href="{% url 'likeComment' commentId=c.0.id %}" class="link"><i class="far fa-star"></i></a>
                                                {% endif %}
                                            </div>
                                            <div class="col-auto">
                                                <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal_{{c.0.id}}">
                                                    <i class="fa-solid fa-reply"></i>
                                                </button>
                                            </div>
                                            {% if request.user == c.0.commentor %}
                                            <div class="dropdown col-auto">
                                                <button class="btn btn-light dropdown-toggle p-0 text-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    &#8942; <!-- Icono de tres puntos verticales en negro -->
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <li><a class="dropdown-item" href="{% url 'editComment' commentId=c.0.id %}"><i class="fa-regular fa-pen-to-square"></i>Editar</a></li>
                                                    <li><a class="dropdown-item" href="{% url 'deleteComment' commentId=c.0.id %}"><i class="fa-solid fa-trash-can"></i>Eliminar</a></li>
                                                </ul>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="modal fade" id="exampleModal_{{c.0.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Reply</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form action="{% url 'replyComment' commentId=c.0.id %}" method="POST">
                                                            {% csrf_token %}
                                                            <textarea style="border-radius: 10px;" name="reply_comment" cols="50" rows="6"></textarea>
                                                            <br>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-success">Responder</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% with c.0.replies.all as subcomments %}
                                        {% if subcomments %}
                                            <ul class="list-group">
                                                {% include "app/comment_template.html" with comments=subcomments info=infoSubcomments %}
                                            </ul>
                                        {% endif %}
                                    {% endwith %}
                                </li>
                            {% endfor %}
                        </ul>

                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}