{% extends "app/layout.html" %}
{% load static %}
{% block head %}
    <link href="{% static 'app/userProfile.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
{% endblock %}
{% block body %}
    <!-- info perfil -->
    <div class="profile-container">
        <div class="banner-container">
            {% if user_profile.banner %}
                <img src="{{ user_profile.banner.url }}" class="banner-image">
            {% endif %}
        </div>
        <div class="profile-content">
            <img src="{% if user_profile.avatar %}{{ user_profile.avatar.url }}{% endif %}" class="profile-avatar">
            <h1 class="title-user"> {{ user_profile.first_name }} {{ user_profile.last_name }}</h1>
            {% if user_profile.username == request.user.username %}
                <a href="{% url 'edit_user_profile' user.username %}" class="edit-icon">
                    <i class="fa-solid fa-gear fa-2x"></i>
                </a>
            {% endif %}
        </div>
        <div class="profile-info">
            <p>@{{ user_profile.username }}</p>
            <p> {{ user_profile.bio }}</p>
            <p><strong>Data de registre:</strong> {{ user_profile.date_joined }}</p>
            <div class="profile-stats">
                <p><strong>{{ user_posts|length }}</strong> Publicacions</p>
                <p><strong>{{ user_comments|length }}</strong> Comentaris</p>
            </div>
        </div>
    </div>
    <!-- filtres -->
    <div class="btn-group custom-margin"  role="group" aria-label="Basic example">
        <form method="post">
            {% csrf_token %}
            <div class="dropdown">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'userProfile' username=user_profile.username %}?button=Publicaciones" class="btn btn-secondary rareButton2">Publicacions</a>
                    <a href="{% url 'userProfile' username=user_profile.username %}?button=Comentarios" class="btn btn-secondary rareButton2">Comentaris</a>
                </div>
                {% if user_profile.username == request.user.username %}
                    <a href="{% url 'userProfile' username=user_profile.username %}?button=Desats" class="btn btn-secondary rareButton2">Desats</a>
                {% endif %}
                <button class="btn btn-secondary dropdown-toggle" style="background-color: white; color: black;" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {% if not form.order.value %}
                        Nou
                    {% else %}
                        {% for choice in form.ORDER_CHOICES %}
                            {% if choice.1 == form.order.value %}
                                {{ choice.0 }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </button>
                <ul class="dropdown-menu">
                    {% for choice in form.ORDER_CHOICES %}
                        <button class="dropdown-item" style="background-color: white; color: black;" onclick="this.style.backgroundColor = 'white';" type="submit" name="order" value="{{ choice.1 }}">{{ choice.0 }}</button>
                    {% endfor %}
                </ul>
            </div>
        </form>
    </div>
    <!-- posts i comentaris -->
    <div class="posts-comments">
        {% if button == "Publicaciones" %}
            {% for p in user_posts %}
                <div class="col-12 col-lg-6 offset-lg-3 mb-4">
                    <p>
                        <a style="color:black; text-decoration:none;" href="{% url 'post' postId=p.0.id %}"> <h4><b>{{p.0.title}}</b></h4></a>
                    </p>
                        <p>
                        <a href="{% url 'userProfile' username=p.0.poster.username %}" style="text-decoration:none;"><span style="color:blue">{{ p.0.poster.username }}</span></a> a <a href="#" style="text-decoration:none"><span style="color:orange">{{ p.0.community.name }}</span></a>  • {{ p.0.created_at }}
                    <div class="row px-4">
                        <div class="col-auto mr-2">
                            <a href="{% url 'post' postId=p.0.id %}#comments_section" class="link"><i class="far fa-comment"></i></a>
                        </div>
                        <div class="col-auto mr-2">
                            <p>{{p.0.numComments}}</p>
                        </div>
                        <div class="col-auto mr-2">
                            {% if p.1 == True and p.2 == 'positive' %}
                                <a href="{% url 'voteInProfile' postId=p.0.id typeV='positive' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-up" style="color: #e00b0b;"></i></a>
                            {% else %}
                                <a href="{% url 'voteInProfile' postId=p.0.id typeV='positive' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-up"></i></a>
                            {% endif %}
                        </div>
                        <div class="col-auto">
                            <p class="mr-2">
                                {{p.0.resta}}
                            </p>
                        </div>
                        <div class="col-auto mr-2">
                            {% if p.1 == True and p.2 == 'negative' %}
                                <a href="{% url 'voteInProfile' postId=p.0.id typeV='negative' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-down" style="color: #e00b0b;"></i></a>
                            {% else %}
                                <a href="{% url 'voteInProfile' postId=p.0.id typeV='negative' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-down"></i></a>
                            {% endif %}
                        </div>
                        <div class="col-auto mr-2">
                            {% if p.3 == True %}
                                <a href="{% url 'likeInProfile' postId=p.0.id username=user_profile.username%}" class="link"><i class="far fa-star" style="color: #eef202;"></i></a>
                            {% else %}
                                <a href="{% url 'likeInProfile' postId=p.0.id username=user_profile.username%}" class="link"><i class="far fa-star"></i></a>
                            {% endif %}
                        </div>
                        {% if request.user == p.0.poster %}
                            <div class="dropdown col-auto">
                                <button class="btn btn-light dropdown-toggle p-0 text-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    &#8942; <!-- Icono de tres puntos verticales en negro -->
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="{% url 'edit' postId=p.0.id %}"><i class="fa-regular fa-pen-to-square"></i>Editar</a></li>
                                    <li><a class="dropdown-item" href="{% url 'deleteInProfile' postId=p.0.id username=user_profile.username%}"><i class="fa-solid fa-trash-can"></i>Eliminar</a></li>
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                    <hr class="my-3">
                </div>
            {% empty %}
                <div class="custom-margin">
                    <p>Encara no s'ha fet ninguna publicació</p>
                </div>
            {% endfor %}
        {% endif %}
        {% if button == "Comentarios" %}
            <div class="custom-margin">
                <ul class="list-group comments">
                    {% for c in user_comments %}
                        <li class="list-group-item comment">
                            <p><a href="{% url 'userProfile' username=c.0.commentor.username %}" style="text-decoration:none;"><span style="color: blue;">{{ c.0.commentor.username }}</span></a>
                                ·  {{c.0.resta}}
                                · <a style="text-decoration: none; color:orange" href="{% url 'post' postId=c.0.post.id %}">{{ c.0.post.title }}</a>
                            </p>
                            {% if c.0.editing %}
                                <form method="POST" action="{% url 'editComment' commentId=c.0.id %}">
                                    {% csrf_token %}
                                    <textarea class="form-control" name="content">{{ c.0.content }}</textarea>
                                    <br>
                                    <div class="col">
                                        <input type="submit" class="btn btn-success mr-2" value="Guardar">
                                        <button class="btn btn-success"><a style="text-decoration:none;color:white" href="{% url 'cancelEdit' commentId=c.0.id %}">Cancelar</a></button>
                                    </div>
                                </form>
                            {% else %}
                                <p>{{ c.0.content }}</p>
                            {% endif %}
                            {% if c.0.editing == False %}
                                <div class="row">
                                    <div class="col-auto">
                                        {% if c.1 and c.2 == 'positive' %}
                                            <a href="{% url 'voteCommentInProfile' commentId=c.0.id typeV='positive' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-up" style="color: #e00b0b;"></i></a>
                                        {% else  %}
                                            <a href="{% url 'voteCommentInProfile' commentId=c.0.id typeV='positive' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-up"></i></a>
                                        {% endif %}
                                    </div>
                                    <div class="col-auto">
                                        <p class="mr-2">
                                            {{c.0.positive}}
                                        </p>
                                    </div>
                                    <div class="col-auto">
                                        {% if c.1 and c.2 == 'negative' %}
                                            <a href="{% url 'voteCommentInProfile' commentId=c.0.id typeV='negative' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-down" style="color: #e00b0b;"></i></a>
                                        {% else  %}
                                            <a href="{% url 'voteCommentInProfile' commentId=c.0.id typeV='negative' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-down"></i></a>
                                        {% endif %}
                                    </div>
                                    <div class="col-auto">
                                        <p class="mr-2">
                                            {{c.0.negative}}
                                        </p>
                                    </div>
                                    <div class="col-auto mr-2">
                                        {% if c.3 == True %}
                                            <a href="{% url 'likeCommentInProfile' commentId=c.0.id username=user_profile.username%}" class="link"><i class="far fa-star" style="color: #eef202;"></i></a>
                                        {% else %}
                                            <a href="{% url 'likeCommentInProfile' commentId=c.0.id username=user_profile.username%}" class="link"><i class="far fa-star"></i></a>
                                        {% endif %}
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal_{{c.0.id}}">
                                            <i class="fa-solid fa-reply"></i>
                                        </button>
                                    </div>
                                    {% if request.user == c.0.commentor %}
                                        <div class="dropdown col-auto">
                                            <button class="btn btn-light dropdown-toggle p-0 text-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                &#8942; <!-- Icono de tres puntos verticales en negro -->
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <li><a class="dropdown-item" href="{% url 'editComment' commentId=c.0.id %}"><i class="fa-regular fa-pen-to-square"></i>Editar</a></li>
                                                <li><a class="dropdown-item" href="{% url 'deleteCommentInProfile' commentId=c.0.id username=user_profile.username%}"><i class="fa-solid fa-trash-can"></i>Eliminar</a></li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="modal fade" id="exampleModal_{{c.0.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Reply</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'replyComment' commentId=c.0.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <textarea style="border-radius: 10px;" name="reply_comment" cols="50" rows="6"></textarea>
                                                    <br>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-success">Responder</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% with c.0.replies.all as subcomments %}
                                {% if subcomments %}
                                    <ul class="list-group">
                                        {% include "app/comment_template.html" with comments=subcomments info=infoSubcomments %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                        </li>
                    {% empty %}
                        <p>Encara no s'ha fet cap comentari</p>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if button == "Desats"%}
            {% if like_posts|length != 0 or like_comments|length != 0 %}
                <!-- posts -->
                {% for p in like_posts %}
                    <div class="col-12 col-lg-6 offset-lg-3 mb-4">
                        <p>
                            <a style="color:black; text-decoration:none;" href="{% url 'post' postId=p.0.id %}"> <h4><b>{{p.0.title}}</b></h4></a>
                        </p>
                            <p>
                            <a href="{% url 'userProfile' username=p.0.poster.username %}" style="text-decoration:none;"><span style="color:blue">{{ p.0.poster.username }}</span></a> a <a href="{% url 'viewCommunity' community_name=p.0.community.name %}" style="text-decoration:none"><span style="color:orange">{{ p.0.community.name }}</span></a>  • {{ p.0.created_at }}
                        <div class="row px-4">
                            <div class="col-auto mr-2">
                                <a href="{% url 'post' postId=p.0.id %}#comments_section" class="link"><i class="far fa-comment"></i></a>
                            </div>
                            <div class="col-auto mr-2">
                                <p>{{p.0.numComments}}</p>
                            </div>
                            <div class="col-auto mr-2">
                                {% if p.1 == True and p.2 == 'positive' %}
                                    <a href="{% url 'voteInProfileDesats' postId=p.0.id typeV='positive' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-up" style="color: #e00b0b;"></i></a>
                                {% else %}
                                    <a href="{% url 'voteInProfileDesats' postId=p.0.id typeV='positive' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-up"></i></a>
                                {% endif %}
                            </div>
                            <div class="col-auto">
                                <p class="mr-2">
                                    {{p.0.resta}}
                                </p>
                            </div>
                            <div class="col-auto mr-2">
                                {% if p.1 == True and p.2 == 'negative' %}
                                    <a href="{% url 'voteInProfileDesats' postId=p.0.id typeV='negative' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-down" style="color: #e00b0b;"></i></a>
                                {% else %}
                                    <a href="{% url 'voteInProfileDesats' postId=p.0.id typeV='negative' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-down"></i></a>
                                {% endif %}
                            </div>
                            <div class="col-auto mr-2">
                                {% if p.3 == True %}
                                    <a href="{% url 'likeInProfileDesats' postId=p.0.id username=user_profile.username%}" class="link"><i class="far fa-star" style="color: #eef202;"></i></a>
                                {% else %}
                                    <a href="{% url 'likeInProfileDesats' postId=p.0.id username=user_profile.username%}" class="link"><i class="far fa-star"></i></a>
                                {% endif %}
                            </div>
                            {% if request.user == p.0.poster %}
                                <div class="dropdown col-auto">
                                    <button class="btn btn-light dropdown-toggle p-0 text-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        &#8942; <!-- Icono de tres puntos verticales en negro -->
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="{% url 'edit' postId=p.0.id %}"><i class="fa-regular fa-pen-to-square"></i>Editar</a></li>
                                        <li><a class="dropdown-item" href="{% url 'deleteInProfileDesats' postId=p.0.id username=user_profile.username%}"><i class="fa-solid fa-trash-can"></i>Eliminar</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <hr class="my-3">
                    </div>
                {% endfor %}
                <!-- comments -->
                <div class="custom-margin">
                    <ul class="list-group comments">
                        {% for c in like_comments %}
                            <li class="list-group-item comment">
                                <p><a href="{% url 'userProfile' username=c.0.commentor.username %}" style="text-decoration:none;"><span style="color: blue;">{{ c.0.commentor.username }}</span></a>
                                    ·  {{c.0.resta}}
                                    · <a style="color:orange;text-decoration: none;" href="{% url 'post' postId=c.0.post.id %}">{{ c.0.post.title }}</a>
                                </p>
                                {% if c.0.editing %}
                                    <form method="POST" action="{% url 'editComment' commentId=c.0.id %}">
                                        {% csrf_token %}
                                        <textarea class="form-control" name="content">{{ c.0.content }}</textarea>
                                        <br>
                                        <div class="col">
                                            <input type="submit" class="btn btn-success mr-2" value="Guardar">
                                            <button class="btn btn-success"><a style="text-decoration:none;color:white" href="{% url 'cancelEdit' commentId=c.0.id %}">Cancelar</a></button>
                                        </div>
                                    </form>
                                {% else %}
                                    <p>{{ c.0.content }}</p>
                                {% endif %}
                                {% if c.0.editing == False %}
                                    <div class="row">
                                        <div class="col-auto">
                                            {% if c.1 and c.2 == 'positive' %}
                                                <a href="{% url 'voteCommentInProfileDesats' commentId=c.0.id typeV='positive' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-up" style="color: #e00b0b;"></i></a>
                                            {% else  %}
                                                <a href="{% url 'voteCommentInProfileDesats' commentId=c.0.id typeV='positive' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-up"></i></a>
                                            {% endif %}
                                        </div>
                                        <div class="col-auto">
                                            <p class="mr-2">
                                                {{c.0.positive}}
                                            </p>
                                        </div>
                                        <div class="col-auto">
                                            {% if c.1 and c.2 == 'negative' %}
                                                <a href="{% url 'voteCommentInProfileDesats' commentId=c.0.id typeV='negative' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-down" style="color: #e00b0b;"></i></a>
                                            {% else  %}
                                                <a href="{% url 'voteCommentInProfileDesats' commentId=c.0.id typeV='negative' username=user_profile.username%}" class="link"><i class="fa-solid fa-arrow-down"></i></a>
                                            {% endif %}
                                        </div>
                                        <div class="col-auto">
                                            <p class="mr-2">
                                                {{c.0.negative}}
                                            </p>
                                        </div>
                                        <div class="col-auto mr-2">
                                            {% if c.3 == True %}
                                                <a href="{% url 'likeCommentInProfileDesats' commentId=c.0.id username=user_profile.username%}" class="link"><i class="far fa-star" style="color: #eef202;"></i></a>
                                            {% else %}
                                                <a href="{% url 'likeCommentInProfileDesats' commentId=c.0.id username=user_profile.username%}" class="link"><i class="far fa-star"></i></a>
                                            {% endif %}
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal_{{c.0.id}}">
                                                <i class="fa-solid fa-reply"></i>
                                            </button>
                                        </div>
                                        {% if request.user == c.0.commentor %}
                                            <div class="dropdown col-auto">
                                                <button class="btn btn-light dropdown-toggle p-0 text-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    &#8942; <!-- Icono de tres puntos verticales en negro -->
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <li><a class="dropdown-item" href="{% url 'editComment' commentId=c.0.id %}"><i class="fa-regular fa-pen-to-square"></i>Editar</a></li>
                                                    <li><a class="dropdown-item" href="{% url 'deleteComment' commentId=c.0.id %}"><i class="fa-solid fa-trash-can"></i>Eliminar</a></li>
                                                </ul>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="modal fade" id="exampleModal_{{c.0.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Reply</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'replyComment' commentId=c.0.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <textarea style="border-radius: 10px;" name="reply_comment" cols="50" rows="6"></textarea>
                                                        <br>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-success">Responder</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% with c.0.replies.all as subcomments %}
                                    {% if subcomments %}
                                        <ul class="list-group">
                                            {% include "app/comment_template.html" with comments=subcomments info=infoSubcomments %}
                                        </ul>
                                    {% endif %}
                                {% endwith %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="custom-margin">
                    <p>Encara no has desat res</p>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}